@{
    ViewData["Title"] = "Clients";
}

<div class="jumbotron">
    <h1>Here will be the list of clients</h1>
    <p class="lead">allow to add clients, search for exiting clients and check its data</p>
</div>
