@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Salon Beauty 💜 Application</h1>
    <p class="lead">Work is still in progress, this is an alpha version of this app</p>
</div>
