@{
    ViewData["Title"] = "Treatments";
}

<div class="jumbotron">
    <h1>Here will be the list of all treatments</h1>
    <p class="lead">Allow to add treatment, search for exiting ones. All in a form of calendar.</p>
</div>
